body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e8f0;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;
  background: #fff;
  height: 60px;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .logo h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #222222;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 30px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #3498db;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #3498db;
  padding: 8px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  
}



.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #4aa3df;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #3498db;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}


@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #3498db;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #3498db;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# profile
--------------------------------------------------------------*/

.profile-picture {
  width: 25px; /* Set the desired width */
  height: 25px; /* Set the desired height */
  border-radius: 50%; 
}

.profile-name {
  font-size: 16px; 
  margin-left: 10px;
  color: rgb(255, 255, 255); 

}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

.search-btn,
.close-btn {
  width: 40px;
  height: 35px;
  font-size: 25px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  position: absolute;
  transition: all 0.25s ease;
}

.close-btn {
  color: #3498db;
  z-index: -1;
}

.search-box {
  width: 40px;
  height: 35px;
  padding: 15px;
  border-radius: 25px;
  background-color: #3498db;
  color: white;
  outline: none;
  border: none;
  transition: width 0.25s ease;
}

.search {
  display: flex;
  align-items: center;
  padding: 20px;
}

.search-box::placeholder {
  color: #ffffff;
}

.active .search-box {
  width: 250px;
}

.active .search-btn {
  transform: translate(210px, 2px) scale(0.8);
  background-color: transparent;
}

.active .close-btn {
  z-index: 0;
  transform: translate(250px, 2px);
}
.material-symbols-outlined a {
  color: #007bff; 
  text-decoration: none; 
  font-size: 24px;
}

.main-body {
  padding: 15px;
  z-index: 2;
  
}
.row > .getstarted{
  width: 35%;
}

.colmd8{
  width: 65%;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.card-body {
  padding: 1rem;
}

.profile-container {
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-outline-primary {
  border: 1px solid #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item {
  text-decoration: none;
}

.posts {
  background-color: #ffffff;
  width: 100%;
  border-radius: 50px;
}

.posts p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* CSS */
/* .button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-left: 45%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 11%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
} */

.main {
  width: 99%;
  margin-left: 8%;
  display: flex;
  flex-wrap: wrap;
}

.main >h2{
  margin-left: 50px;

}

.card {
  width: 90%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 20px;
}

.title-card {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}

.job-details {
  text-align: left;
  padding: 10px 0;
}

.job-details p {
  margin: 5px 0;
}

.card > button {
  display: block;
  margin: 10px auto;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card > button:hover {
  background-color: black;
}

.job-image {
  width: 25px;
  height: 25px; 
}


.container{
  width: 100%;
}

.dcont{
  /* margin-left: 76px; */
  margin-right: 0px;
}
.colmd{
  width: 100%;
}






.chat{
  display: flex;
  height: 7%;
  width: 93%;
  margin-left: 15px;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #3498db;
  color: white;
}

.chat i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color: #FFF;
}

.chat:hover {
  background-color: #f3f3f3;
  color: #000000; 
  border: 1px solid black;
}

.chat:hover i{

  color: #000000; 
  
  
}



/*--------------------------------------------------------------
# sidebar
--------------------------------------------------------------*/
 
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff;
  padding: 6px 14px;
  padding-left: 0px;
  z-index: 99;
  transition: all 0.5s ease;
  margin-top: 61px;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #000000;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 5%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  margin-left: -20px;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}





.chat{
  display: flex;
  height: 7%;
  width: 93%;
  margin-left: 15px;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #3498db;
  color: white;
}

.chat i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color: #FFF;
}

.chat:hover {
  background-color: #f3f3f3;
  color: #000000; 
  border: 1px solid black;
}

.chat:hover i{

  color: #000000; 
  
  
}



.sidebar li a{
  display: flex;
  height: 140%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #3498db;
}
.sidebar li a:hover{
  background: #FFF;
  border: 1px solid black;
  margin-left: 5px;
  padding-right: 40px;
  padding-left: 0;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color: #FFF;
}


.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  margin-left: 0px;
  padding: 10px 14px;
  background: #ffffff;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .profile-details .name_job .name:hover{
  color: rgb(255, 255, 255);
}

.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #ffffff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: -10px;
  width: calc(100% - 60px);
  transition: all 0.5s ease;
  z-index: 3;
  margin-top: 0px;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 300px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}


@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}


/* payment */

.bo {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.payment-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
}
.pay{
  width: 90%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 20px;
}

.payment-container form{
  padding:20px;
  width:700px;
  background: #fff;
  border-radius: 20px;
  border-style: dotted;
  border-color: rgb(9, 50, 83);
  box-shadow: 20px 20px 20px rgba(0,0,0,.1);
}

.payment-container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.payment-container form .row .col{
  flex:1 1 250px;
}

.payment-container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.payment-container form .row .col .inputBox{
  margin:15px 0;
}

.payment-container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.payment-container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.payment-container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.payment-container form .row .col .flex{
  display: flex;
  gap:15px;
}

.payment-container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.payment-container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.payment-container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #27ae60;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.payment-container form .submit-btn:hover{
  background: #2ecc71;
}
/* styles.css */

/* Customize the star color and size */
.star-rating {
  color: #f39c12; /* Change to your preferred color */
  font-size: 24px; /* Change to your preferred font size */
}

/* Optional: Add additional styles for half-star */
.star-rating .half-star {
  font-size: 75%; /* Adjust the size of the half-star */
  position: relative;
  top: -6px; /* Adjust the position to align with the full star */
}

/* Add this to your existing CSS file or create a new one */



.rating {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.rating i {
  font-size: 30px;
  color: #ddd;
  transition: color 0.3s;
}

.rating i:hover,
.rating i.active {
  color: #ffcc00;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.aka {
  position: relative;
  background-image: url("/img/akabg.png");
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  margin-left: 50px;
  margin-top: 90px;
  max-width: 480px;
  width: 120%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

.akalogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.akalogo img {
  width: 48px;
}
.akah5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.chip {
  width: 60px;
}
.akah6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
.akah5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}
.akah5.name {
  margin-top: 20px;
}
.aka .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}



/* mypayment mypayment mypayment */

.wowo {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto;
}

.billing-details {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.receipts {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}


.wowobuttons {
  margin-top: 20px;
  text-align: right;
  
}


.unsubscribe-button {
  background-color: #3498db;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wowotable {
  width: 100%;
  border-collapse: collapse;
  
}

.wowotable th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.wowotable th {
  background-color: #ffffff;
}



/* review wdadawdawdawdawdadawda */

#ccctestimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.ccctestimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ccctestimonial-heading h1{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}
.ccctestimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.ccctestimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.ccctestimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.cccprofile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.cccprofile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.cccprofile{
  display: flex;
  align-items: center;
}
.cccname-user{
  display: flex;
  flex-direction: column;
}
.cccname-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.cccname-user span{
  color: #979797;
  font-size: 0.8rem;
}
.cccreviews{
  color: #f9d71c;
}
.cccbox-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cccclient-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.ccctestimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
